@charset "utf-8";
/* CSS Document */
body
{
	margin:0;
	font-family: 'Courgette', cursive;
	background-color: #6d6577;	
}
#videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
#videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
a 
{
	font-family: 'Courgette', cursive;
	text-decoration:none;
	color:#6d6577;
}

.back
{
	float:right;
	position:inherit;
	display:block;
	padding-left:50%;
}

header
{
	font-family: 'Rock salt', cursive;
	background-color: #6d6577;
	position: fixed;
	width: 100%;
	z-index: 1;
}

header div
{
	display:block;
	width: 100%;
	height: 60px;
	float:left;
}
header div h1
{
	top:0;
	margin-left:5%;
	font-size:24px;
	line-height:60px;
	color: #d3cac6;
}
#Menu 
{
	margin-top:60px;
	width:100%;
	background-color: #6d6577;
	position:fixed;
	z-index: 2;
}


article
{
	font-family: 'Courgette', cursive;
	width: 100%;
	font-size:18px;	
}

#About
{
	left: 0;
	color: #333;
	background-color: #CCC;
	padding-top: 260px;
	padding-bottom: 260px;
	position: relative;
}

#ArtWork
{
	position:relative;
	width: 100%;
	background-color: #8b878f;
	padding-top: 180px;
	padding-bottom: 60px;
}

#Projects
{
	position:relative;
	
	background-color: #a09e7d;
	padding-top: 120px;
	padding-bottom: 60px;
}

#Projects article
{
	padding-top:130px;
	padding-bottom:60px;
}

#Projects h2
{
	margin-left: 10%;
}


#Projects #UniProjects nav 
{
	width: 100%;
	height:60px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: #afad93;
	position: relative;
}

.textPlacement{
	margin-left:20%;
	width:60%;
	padding: 10px 0px;
}

#Contact
{
	position:relative;
	background-color: #868f8b;
	width: 100%;
	padding-top: 120px;
}

#Contact h2
{
	margin-left: 10%;	
}

#Contact footer
{
	margin: auto;
	text-align:center;
	background-color: #6d6577;
	height:60px;
}

#Contact footer p
{
	padding-top: 60px;
}
.item
{
	display: inline-block;
	text-align: left;
}

.itemWrapper
{
	position: relative;
}

.itemImage
{
	position: relative;
	overflow: hidden;
}

.itemImage img
{
	display: block;
	width:400px;
	height:auto;	
}

.itemImage-Overlay
{
	background: #000;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transition: opacity 0.5s ease-in 0s;
	-moz-transition: opacity 0.5s ease-in 0s;
	-o-transition: opacity 0.5s ease-in 0s;
	transition: opacity 0.5s ease-in 0s;
}


.itemWrapper:hover .itemImage-Overlay
{
	opacity: 0.3;
}

.artWork .itemText
{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px;
	background-color:#7d7784;
	color: #d3cac6;
	top: 100%;
	-webkit-transition: all 0.5s ease-in 0s;
	-moz-transition: all 0.5s ease-in 0s;
	-o-transition: all 0.5s ease-in 0s;
	transition: all 0.5s ease-in 0s;
}

.artWork .itemText h3, p
{
	margin:5%;
}

.artWork .itemWrapper:hover .itemText
{
	top: 40%;
}

.uniProject .itemText
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color:#c3c1ae;
	color: #000;
	top: 100%;
	-webkit-transition: all 0.5s ease-in 0s;
	-moz-transition: all 0.5s ease-in 0s;
	-o-transition: all 0.5s ease-in 0s;
	transition: all 0.5s ease-in 0s;
}

.uniProject .itemText h3, p
{
	margin:5%;
}

.uniProject .itemWrapper:hover .itemText
{
	top: 40%;
}

.artWorkGallery
{
	margin:auto;
	text-align:center;
}

#Buttons
{
	text-align:center;
}

#Buttons a
{
	display: block;
	height: 60px;
	width: 25%;
	background-color: #6d6577;
	float: left;
	overflow: hidden;
		
}

#Buttons a:hover h3
{
	margin-top:-60px;
}

#Buttons h3
{
	color: #d3cac6;
	margin:0px;
	padding:0px;
	line-height:60px;
	font-weight:800;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

#Buttons div
{
	width:100%;
	height:60px;
	background-color:#afad93;
	line-height:60px;
	font-weight:800;
	color: #000;
	font-family: 'Courgette', cursive;
}

#Buttons #AboutOver
{
	background-color:#ccc;
}

#Buttons #ArtworkOver
{
	background-color:#8b878f;
}

#Buttons #ProjectOver
{
	background-color:#a09e7d;
}

#Buttons #ContactOver
{
	background-color:#868f8b;
}

#UniProjectButtons
{
	text-align:center;
	width:100%;
}

#UniProjectButtons a
{
	display: block;
	height: 60px;
	width: 25%;
	background-color: #afad93;
	float: left;
	overflow: hidden;	
}

#UniProjectButtons a:hover h4
{
	margin-top:-60px;
}

#UniProjectButtons h4
{
	color: #6d6577;
	margin:0px;
	padding:0px;
	font-size:14px;
	line-height:60px;
	font-weight:800;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

#UniProjectButtons div
{
	width:100%;
	height:60px;
	font-size:14px;
	background-color:#c3c1ae;
	line-height:60px;
	font-weight:800;
	color: #6d6577;
	font-family: 'Courgette', cursive;
}

.uniProjectImgContainer
{
	margin:auto;
	text-align:center;
}

.artWorkImgContainer
{
	margin:auto;
	text-align:center;
}

.menuTrigger
{
	display:none;
}

@media screen and (max-width:480px)
{
	
	#UniProjectButtons a
	{
		width:100%;
	}
	
	.menuTrigger
	{
		display:block;
		position:static;
		background-color: #6d6577;
		line-height:60px;
		width:10%
		height:60px;
		float:right;
		color:#FFF;	
	}
	#Menu
	{
		width:100%;
	}
	#Buttons
	{
		display:none;
		width:100%;
	}
	
	#Buttons a
	{
		float:none;
		margin:auto;
		text-align:center;
		width:100%;
	}
	
	#About
	{
		padding-top: 120px;
		padding-bottom: 60px;
	}
	
	.textPlacement
	{
		margin-left:0%;
		width:100%;
	}
	.menuExpanded
	{
		display:block
	}
	
	.itemImage img
	{
		width:100%;
	}
	
	.item
	{
		display:block;
		width:100%;
	}
	.artWorkGallery
	{
		margin:0px;
		text-align:left;
	}
	
	.artwork .itemWrapper:hover .itemText
	{
		top: 0;
	}
	
	.uniproject .itemWrapper:hover .itemText
	{
		top: 0;
	}
	
	
}
@media screen and (min-width:480px) and (max-width:768px)
{
	#About
	{
		padding-top: 160px;
		padding-bottom: 60px;
	}
	
	#ArtWork
	{
		padding-top:120px;	
	}
	
	#Projects
	{
		padding-top:120px;	
	}
	
	#Buttons
	{
		margin-left:0px;
	}
	
	#UniProjectButtons a
	{
		width:50%;
	}
	
	
	.itemImage img
	{
		width:480px;
	}
	
	.artwork .itemWrapper:hover .itemText
	{
		top: 0;
	}
	
	.uniproject .itemWrapper:hover .itemText
	{
		top: 0;
	}
	
	.textPlacement
	{
		margin-left:10%;
		width:80%;
		padding: 10px 0px;
	}
}
